.form{
    background-color:rgb(210, 149, 105);
    padding: 1rem;
    width: 20rem;
    margin: 2rem auto;
    border-radius: 6px;


}
.form label{
    display: block;
    margin-bottom: 0.05rem;
    color: beige;
    font-weight: bold;



}
.form textarea{
    border-radius: 6px;
}
.form input{
    border-radius: 6px;
}